*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 100px;
    width: 100%;
    background-color: rgb(36, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.enlacePie{
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

.nav{
    height: 30%;
    width: 100%;
    text-align: right;
    margin-right: 20px;
}

.imgLogo{
    height: 60%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

img{
    height: 60px;
    width: 60px;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 900;
    color: rgb(206, 61, 133);
}

.contenedor{
    width: 100%;
}

.cuerpo{
    margin-bottom: 100px;
    margin-top: 50px;
}

table{
    width: 100%;
    margin: auto;
}

table, td, tr, th{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    border: 0;
}

tbody tr:nth-child(odd) {
    background-color: #f1dae8;

}

td{
    width: 25%;
    padding: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}

fieldset{
    width: 70%;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
    border: none;
    border-top: 2px solid rgb(206, 61, 133);
}

legend{
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px;
    color: rgb(206, 61, 133);
    font-weight: 900;
}

a{
    color: rgb(206, 61, 133);
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

#borde{
    border-right: 1px dashed rgb(36, 173, 173);
}